.outerLeftBox {
    display: flex;
    flex-direction: column;

}

.cards {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    overflow-wrap: break-word;
}

.body_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3rem;





}

.second_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    
    align-items: center;
    padding: 1.3rem;

}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1.54rem;
    column-gap: 1.5rem;
    overflow-wrap: break-word;
    padding-top: 1.3rem;

}